<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Vista Dental</title>
        <meta charset="UTF-8">        
            <link href="/styles/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Listado de Dentistas</h2>
            <a th:href="@{/dentista/nuevo}">Nuevo Dentista</a>
            <div th:if="${dentistas != null and !dentistas.empty}"></div>
            <table border="1">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Limite</th>
                        <th>Eliminar</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dentista : ${dentistas}"> 
                        <td th:text="${dentista.nombre}"></td>
                        <td th:text="${dentista.apellidos}"></td>
                        <td th:text="${dentista.correo}"></td>
                        <td th:text="${dentista.telefono}"></td>
                        <td th:text="${#numbers.formatDecimal (dentista.credito.limite,3,2)}" 
                            style="text-align: right"></td>
                        <td><a th:href="@{/dentista/eliminar} +${dentista.idDentista}">Eliminar</a></td>
                        <td><a th:href="@{/dentista/modificar} +${dentista.idDentista}">Modificar</a></td>
                    </tr>
                </tbody>
            </table>
            <div th:if="${dentistas == null or dentistas.empty}">
                La lista de dentistas está vacía
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
