<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Vista Dental</title>
        <meta charset="UTF-8"/>        
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="nav"> <!-- Esta etiqueta es para indicarle al browser que es posiblemente un menú -->
                <a th:href="@{/}" class="logo nav-link">Vista Dental</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a th:href="@{/paciente/listado}" class="nav-menu-link nav-link">Pacientes</a>
                    </li>
                    <li class="nav-menu-item">
                        <a th:href="@{/dentista/listado}" class="nav-menu-link nav-link">Dentistas</a>
                    </li>
                    <li class="nav-menu-item">
                        <a th:href="@{/cita/listado}" class="nav-menu-link nav-link">Citas</a>
                    </li>
                </ul>
            </nav>
        </header>        
        <footer th:fragment="footer" class="footer">
            <p>&COPY Derechos Reservados 2023</p>
        </footer>
    </body>
</html>
